[user]
	name = Daniel Peach
	email = dpeaches96@gmail.com

[core]
	excludesfile = /Users/daniel/.gitignore_global
[color]
	ui = auto
[alias]
	acm = !git add -A && git commit -m
[alias]
	b = !git branch
[alias]
	s = !git status
[alias]
	alcommit = "!f() { \
	if [ "$(git symbolic-ref --short HEAD)" == "master" ]; then \
    echo "On branch master, do not commit here"; \
	else \
    git commit -m \"$(git symbolic-ref --short HEAD) $1\"; \
	fi }; f"
